<template>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <header>
          <h1 class="main-header mb-0">Hacker News Search Application</h1>
          <p>
            Developed by Andrew Peters.
            <a href="https://www.linkedin.com/in/andrew-peters-8b3424185/" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </p>
        </header>

        <hr>
        <div class="row">
          <div class="col-sm-7">
            <div class="form-group">
              <label for="search-bar">Search Query</label>
              <custom-search v-model="search"/>
            </div>
          </div>
        </div>
        <hr>

        <loading-wrap :height="400" :loading="loading">
          <p v-if="searchQuery.length === 0">
            Showing the front page of
            <b>Hacker News</b>.
          </p>
          <p v-else>
            Showing
            <b>{{startResult}}</b> -
            <b>{{endResult}}</b> results of
            <b>{{totalResults}}</b> for “
            <b>{{searchQuery}}</b>”.
          </p>

          <template v-if="results.length !== 0">
            <a
              class="ap-card ap-large-shadow ap-card-link d-block mb-2 px-3 py-2"
              :href="result.url"
              v-for="result in results"
              :key="result.objectID"
              target="_blank"
            >
              <h3 class="ap-card-header mb-0" v-max-ellipsis="700">
                <b>{{result.title}}</b>
                <span class="ml-1" v-if="result.url">({{result.url | URLtoBaseURL}})</span>
              </h3>
              <div>
                <span class="mr-3 d-inline-block">{{result.points}} points by {{result.author}}</span>
                <span class="mr-3 d-inline-block">
                  <i class="far fa-watch mr-1"></i>
                  {{result.created_at | dateTimeToAgo}}
                </span>
                <span class="mr-3 d-inline-block">
                  <i class="far fa-comments-alt mr-1"></i>
                  {{result.num_comments}}
                </span>
              </div>
            </a>
          </template>

          <hr>

          <footer>
            <home-pagination
              v-model="page"
              :totalResults="totalResults"
              :possiblePages="possiblePages"
              @paginationUsed="loadAPI"
            />
          </footer>
        </loading-wrap>
      </div>
    </div>
  </div>
</template>

<script>
import LoadingWrap from "@/components/loading-wrap.vue";
import CustomSearch from "@/components/custom-search.vue";
import HomePagination from "@/components/home-pagination.vue";
import axiosOnce from "@/api/axios-once.js";

const PAGE_LENGTH = 20;
let timeout; //Used for search debounce

export default {
  components: {
    LoadingWrap,
    CustomSearch,
    HomePagination
  },
  metaInfo: {
    title: "Home"
  },
  data() {
    return {
      sort: "Relevance", //Default to 'Relevance'
      search: "",
      searchQuery: "", //This is the query that will be displayed
      loading: true,
      totalResults: 0,
      page: 1,
      results: []
    };
  },
  methods: {
    loadAPI() {
      //API requires zero-indexed pages
      //The app uses one-indexed pages

      window.scrollTo(0, 0);
      this.loading = true;

      if (this.searchQuery !== this.search) {
        //Then the cause of the fetch is due to a search change
        //So set the page to 1 and update the searchQuery
        this.page = 1;
        this.searchQuery = this.search;
      }

      const params = { page: this.page - 1 };

      if (this.search.length === 0) {
        //Then we're doing a home page search
        params.tags = "front_page";
      } else {
        params.query = this.search;
        params.tags = "story";
      }

      axiosOnce("http://hn.algolia.com/api/v1/search", { params })
        .then(({ data }) => {
          this.totalResults = data.nbHits;
          this.results = data.hits;
          this.page = data.page + 1;

          //We don't have to worry about the below
          //firing when another promise is in progress,
          //as another axios call will prevent this then block from firing.
          this.loading = false;
        })
        .catch(res => console.log("Catch fired.", ...args));
    }
  },
  watch: {
    search() {
      if (timeout !== undefined) {
        clearTimeout(timeout);
      }

      timeout = setTimeout(this.loadAPI, 300);
    }
  },
  created() {
    //Fetch front page on component load
    this.loadAPI();
  },
  computed: {
    possiblePages() {
      //Prevent 0 from returning - cosmetic reasons.
      return Math.ceil(this.totalResults / PAGE_LENGTH) || 1;
    },
    endResult() {
      //The end result of our current view, 1-indexed.
      const maxPossible = this.page * PAGE_LENGTH;

      return Math.min(maxPossible, this.totalResults);
    },
    startResult() {
      //The first result of our current view, 1-indexed
      return Math.min(this.totalResults, (this.page - 1) * PAGE_LENGTH + 1);
    }
  }
};
</script>

<style lang="scss" scoped>
.main-header {
  font-weight: 600;
  font-size: 1.5rem;
  color: #fe6600;
}

.ap-card-header {
  font-size: 1rem;
}

.ap-card-link {
  color: #333333;

  &:hover {
    text-decoration: none;

    h3 {
      text-decoration: underline;
    }
  }
}
</style>
