<template>
  <div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center not-found-wrap">
      <h1>Page not found.</h1>
      <h4>
        The page you are looking for either doesn't exist or has been deleted.
        <a href="/">Go home?</a>
      </h4>
    </div>
  </div>
</template>

<script>
export default {
  metaInfo: {
    title: "Page not found"
  }
};
</script>

<style lang="scss" scoped>
.not-found-wrap {
  height: 100vh;
}
</style>
