<template>
  <div class="d-flex align-items-center ap-large-shadow ap-card">
    <input
      type="text"
      placeholder="Search for a news result..."
      class="form-control ap-large-input custom-search"
      v-model="search"
      ref="search"
    >
    <div>
      <div
        class="icon-wrap d-flex align-items-center justify-content-center"
        :class="{'ap-clear': search.length !== 0}"
        @click="clearSearch"
      >
        <i class="fas" :class="search.length === 0 ? 'fa-search': 'fa-times'"></i>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: String
  },
  computed: {
    search: {
      set(newVal) {
        this.$emit("input", newVal);
      },
      get() {
        return this.value;
      }
    }
  },
  methods: {
    clearSearch() {
      this.search = "";
      this.$refs.search.focus();
    }
  }
};
</script>

<style lang="scss" scoped>
.icon-wrap {
  width: 3rem;
  font-size: 1rem;
  color: #fe6600;

  &.ap-clear {
    font-size: 1.125rem;
    cursor: pointer;
  }
}

.custom-search {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
</style>