<template>
  <div class="d-flex justify-content-center">
    <button
      type="button"
      class="btn ap-pagination text-uppercase"
      :disabled="isPossible(-1) === false"
      @click="changePage(-1)"
    >
      <i class="fas fa-angle-double-left mr-1"></i>
      <span>Prev. Page</span>
    </button>
    <div class="d-flex align-items-center px-4">
      Page
      <b class="mx-1">{{page}}</b> of
      <b class="mx-1">{{possiblePages}}</b>
    </div>
    <button
      type="button"
      class="btn ap-pagination text-uppercase"
      :disabled="isPossible(1) === false"
      @click="changePage(1)"
    >
      <span>Next Page</span>
      <i class="fas fa-angle-double-right ml-1"></i>
    </button>
  </div>
</template>

<script>
export default {
  props: {
    totalResults: Number,
    value: Number,
    possiblePages: Number
  },
  methods: {
    isPossible(change) {
      const intendedPage = this.page + change;

      return intendedPage <= this.possiblePages && intendedPage !== 0;
    },
    changePage(amount) {
      this.page += amount;
      this.$emit("paginationUsed");
    }
  },
  computed: {
    page: {
      set(newVal) {
        this.$emit("input", newVal);
      },
      get() {
        return this.value;
      }
    }
  }
};
</script>

<style lang="scss">
.ap-pagination {
  background-color: #fe6600;
  font-weight: 700;
  color: white;
  height: 2.25rem;
  font-size: 0.875rem;

  &:hover {
    color: white;
    &:not([disabled]) {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
</style>

