<template>
  <div>
    <div
      v-if="loading"
      :style="{height: height + 'px'}"
      class="d-flex justify-content-center align-items-center"
    >
      <page-loader/>
    </div>
    <slot v-else/>
  </div>
</template>

<script>
import PageLoader from "@/components/page-loader.vue";

export default {
  components: {
    PageLoader
  },
  props: {
    loading: {
      type: Boolean
    },
    height: {
      type: Number,
      default: 300
    }
  }
};
</script>
