@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

body {
    font-family: 'Source Sans Pro', 'Avenir', 'Helvetica', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    overflow-x: hidden;
    background-color: #FBFBFB;
}

p,
body {
    font-size: 0.875rem;
}

label {
    font-weight: 600;
}

/** Helpers **/

.ap-large-shadow {
    box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.15) !important; //'important' is necessary here to override user-agent box shadows
    outline: none !important; //override user-agent
    border: none !important; //override user-agent
}

.ap-card {
    background-color: white;
    border-radius: 0.25rem;
}

.ap-large-input {
    height: 3rem;
}